<div class="container">
    <div class="profile">
        <h1>Manage statuses</h1>
    </div>

    <div *ngIf="!(this.statusesLoading$ | async)" class="users-container">
        <table class="ticket-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <td>Actions</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let status of this.statuses;">
                    <td>{{ status.name }}</td>
                    <td>{{ status.type }}</td>
                    <td class="buttonContainer">
                        <button (click)="open('edit', status.id)">Edit status</button>
                        <button (click)="open('delete', status.id)">Delete status</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div style="margin-top: 2rem;">
        <button (click)="open('create')">Add status</button>
    </div>

    <div *ngIf="this.dialogOpened">
        <div class="dialog-overlay"></div>
        <form [formGroup]="this.formGroup" class="dialog-content">
            <h2>Add status</h2>

            <label>Name:</label>
            <input type="text" formControlName="name">

            <label>Type:</label>
            <select formControlName="type">
                <option *ngFor="let type of this.types" [value]="type">
                    {{ this.getReadableType(type) }}
                </option>
            </select>

            <div class="buttonContainer">
                <button (click)="close('cancel')">Cancel</button>
                <button style="background-color: red;" type="submit" (click)="close('submit')">Submit</button>
            </div>
        </form>
    </div>

    <div *ngIf="deleteDialogOpened">
        <div class="dialog-overlay"></div>
        <div class="dialog-content">
            <h1>Do you really want to delete this Status?</h1>

            <div class="buttonContainer">
                <button (click)="close('cancel')">Cancel</button>
                <button style="background-color: red;" type="submit" (click)="close('delete')">Delete</button>
            </div>
        </div>
    </div>
</div>