<app-header></app-header>

<div class="container">
    <h1 class="project-caption">Projects</h1>

    <div *ngIf="!isProjectsEmpty() && !(projectsLoading$ | async)" class="project-container">
        <table class="project-table">
            <thead>
                <tr>
                    <th>Project name</th>
                    <th>Project Url</th>
                    <th>Number of users</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let project of projects; let i = index;">
                    <td>{{ project.name }}</td>
                    <td>{{ project.url }}</td>
                    <td>{{ project.users.length }}</td>
                    <td>
                        <button (click)="open('details', project.id)">Details</button>
                        <button (click)="open('edit', project.id)">Edit project</button>
                        <button (click)="open('delete', project.id)">Delete project</button>
                        <button style="background-color: darkred;" (click)="open('leave', project.id)">Leave project</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div *ngIf="isProjectsEmpty()" class="no-projects-container">
        <p class="no-projects-text">No projects found!</p>
    </div>

    <div style="margin-top: 2rem; margin-bottom: 2rem;">
        <button (click)="open('create')">Create project</button>
    </div>
    
    
    <div *ngIf="!isProjectInvitesEmpty() && this.projectsByIds.length > 0 && !(projectsLoading$ | async)" class="project-container">
        <h1 class="project-caption">Project invites</h1>
        <table class="project-table">
            <thead>
                <tr>
                    <th>Project Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let invite of invites; let i = index;">
                    <td>{{ this.getProjectName(invite.project) }}</td>
                    
                    <td>
                        <button (click)="close('accept', invite.id)">Accept</button>
                        <button (click)="close('decline', invite.id)">Decline</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="isDialogOpen">
        <div class="dialog-overlay"></div>
        <form [formGroup]="this.formGroup" class="dialog-content">
            <h1>{{ this.getTitle() }}</h1>
            
            <label>Name:</label>
            <input type="text" id="name" formControlName="name">

            <label>Url:</label>
            <input type="text" id="url" formControlName="url">

            <div class="buttonContainer">
                <button (click)="close('cancel')">Cancel</button>
                <button type="submit" (click)="close('submit')">Submit</button>
            </div>
        </form>
    </div>

    <div *ngIf="isDeleteDialogOpen">
        <div class="dialog-overlay"></div>
        <div class="dialog-content">
            <h1>Do you really want to delete this Project?</h1>

            <div class="buttonContainer">
                <button (click)="close('cancel')">Cancel</button>
                <button style="background-color: red;" type="submit" (click)="close('delete')">Delete</button>
            </div>
        </div>
    </div>
    
    <div *ngIf="isLeaveDialogOpen">
        <div class="dialog-overlay"></div>
        <div class="dialog-content">
            <h1>Do you really want to leave Project?</h1>

            <div class="buttonContainer">
                <button (click)="close('cancel')">Cancel</button>
                <button style="background-color: red;" type="submit" (click)="close('leave')">Leave</button>
            </div>
        </div>
    </div>
</div>
