<app-header></app-header>

<div class="container">
    <div style="display: flex; flex-direction: column; align-items: center;  margin-top: 3rem;">
        <h1>Welcome to the Project Management App!</h1>
        
        <p>Please make sure to log in, or register in order to use the following features:</p>
        <ul style="list-style-type: disc; text-align: left;">
            <li>Projects</li>
            <li>Tickets</li>
            <li>Statistics</li>
            <li>Discussions</li>
            <li>Documentations</li>
        </ul>

        <button style="width: 30%" routerLink="/register" routerLinkActive="active">Register</button>
    </div>
    

<app-footer></app-footer>