<div class="login-header">
    <div class="back-button-container"> <button class="back-button" (click)="home()">Home</button> </div>
    <div class="title-container"> <p class="title">Register</p> </div>
</div>

<form [formGroup]="this.formGroup">
    <label [for]="userName">
        Username
        <input type="text" formControlName="userName" #userName>
    </label>

    <label [for]="email">
        Email
        <input type="text" formControlName="email" #email>
    </label>

    <label [for]="firstName">
        First Name
        <input type="text" formControlName="firstName" #firstName>
    </label>

    <label [for]="lastName">
        Last Name
        <input type="text" formControlName="lastName" #lastName>
    </label>

    <label [for]="password">
        Password
        <input type="password" formControlName="password" #password>
    </label>

    <label [for]="passwordAgain">
        Password again:
        <input type="password" formControlName="passwordAgain" #passwordAgain>
    </label>

    <mat-form-field class="chip-list">
        <mat-chip-grid #chipGrid aria-label="Put your GitHub username(s) here">
          <mat-chip-row
            *ngFor="let userName of gitHubUserNames;"
            (removed)="remove(userName)"
            [editable]="true"
            (edited)="edit(userName, $event)"
            [aria-description]="'press enter to edit ' + userName"
          >
            {{userName}}
            <button matChipRemove [attr.aria-label]="'remove ' + userName">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
      
          <input
            placeholder="New github user name..."
            [matChipInputFor]="chipGrid"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add($event)"
          />
        </mat-chip-grid>
    </mat-form-field>

    <label class="hid-pot" [for]="someName">
        Fill SomeName
        <input type="text" formControlName="someName" #someName>
    </label>

    <button (click)="close()" type="submit">Submit</button>
</form>
