<app-header></app-header>

<div class="container">
    <h1 class="ticket-caption">Tickets</h1>

    <div *ngIf="!isTicketsEmpty()" class="ticket-container">
        <table class="ticket-table" *ngFor="let ticket of tickets; let i = index;">
            <tr>
                <th>Ticket Number</th>
                <th>Assignee</th>
                <th>Creator</th>
            </tr>
            <th> {{ ticket.ticketNumber }} </th>
            <th> {{ ticket.assignee }} </th>
            <th> {{ ticket.creator }} </th>
        </table>
    </div>
    
    <div *ngIf="isTicketsEmpty()" class="no-tickets-container">
        <p class="no-tickets-text">No tickets found!</p>
    </div>
</div>

<app-footer></app-footer>
