<app-header></app-header>

<div class="container">
    <h1 class="ticket-caption">Tickets</h1>

    <div *ngIf="!isTicketsEmpty()" class="ticket-container">
        <table class="ticket-table" *ngFor="let ticket of tickets; let i = index;">
            <tr>
                <th>Ticket Number</th>
                <th>Assignee</th>
                <th>Creator</th>
            </tr>
            <th> {{ ticket.ticketNumber }} </th>
            <th> {{ ticket.assignee }} </th>
            <th> {{ ticket.creator }} </th>

            <button (click)="open('edit', ticket.id)">Edit ticket</button>
        </table>

    </div>
    <div>
        <button (click)="open('create')">Create ticket</button>
    </div>

    <div *ngIf="isTicketsEmpty()" class="no-tickets-container">
        <p class="no-tickets-text">No tickets found!</p>
    </div>

    <div *ngIf="isDialogOpen">
        <div class="dialog-overlay"></div>
        <form [formGroup]="formGroup" class="dialog-content">
            <h3>Create Ticket</h3>
            
            <label>Assignee:</label>
            <input type="text" id="assignee">

            <label>Creator:</label>
            <input type="text" id="creator">

            <label for="description">Description:</label>
            <textarea id="description" formControlName="description"></textarea>

            <label>Statuses:</label>
            <select id="statuses" multiple>
                <option value="status1">Status 1</option>
                <option value="status2">Status 2</option>
            </select>

            <div class="comments-section">
                <h2>Comments</h2>
            </div>

            <div class="buttonContainer">
                <button (click)="close('cancel')">Cancel</button>
                <button type="submit" (click)="close('submit')">Submit</button>
            </div>
        </form>
    </div>
</div>

<app-footer></app-footer>