<app-header></app-header>

<div class="container">
    <h1 class="ticket-caption">Tickets</h1>

    <div *ngIf="!isTicketsEmpty() && !(ticketsLoading$ | async)" class="ticket-container">
        <table class="ticket-table">
            <thead>
                <tr>
                    <th>Ticket Number</th>
                    <th>Assignee</th>
                    <th>Creator</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ticket of tickets; let i = index;">
                    <td>{{ ticket.ticketNumber }}</td>
                    <td>{{ ticket.assignee }}</td>
                    <td>{{ ticket.creator }}</td>
                    <td>
                        <button (click)="open('details', ticket.id)">Details</button>
                        <button (click)="open('edit', ticket.id)">Edit ticket</button>
                        <button (click)="open('delete', ticket.id)">Delete ticket</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div>
        <button (click)="open('create')">Create ticket</button>
    </div>

    <div *ngIf="isTicketsEmpty()" class="no-tickets-container">
        <p class="no-tickets-text">No tickets found!</p>
    </div>

    <div *ngIf="isDialogOpen">
        <div class="dialog-overlay"></div>
        <form [formGroup]="this.formGroup" class="dialog-content">
            <h3>Create Ticket</h3>
            
            <label>Name:</label>
            <input type="text" formControlName="name">

            <label>Assignee:</label>
            <input type="text" id="assignee">

            <label>Creator:</label>
            <input type="text" id="creator">

            <label for="description">Description:</label>
            <textarea id="description" formControlName="description"></textarea>

            <label>Statuses:</label>
            <select id="statuses" multiple>
                <option value="status1">Status 1</option>
                <option value="status2">Status 2</option>
            </select>

            <div class="comments-section">
                <h2>Comments</h2>
            </div>

            <div class="buttonContainer">
                <button (click)="close('cancel')">Cancel</button>
                <button type="submit" (click)="close('submit')">Submit</button>
            </div>
        </form>
    </div>

    <div *ngIf="isDeleteDialogOpen">
        <div class="dialog-overlay"></div>
        <div class="dialog-content">
            <h1>Do you really want to delete this Ticket?</h1>

            <div class="buttonContainer">
                <button (click)="close('cancel')">Cancel</button>
                <button style="background-color: red;" type="submit" (click)="close('delete')">Delete</button>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>