.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
    max-width: 100% !important;
    margin-top: 40px;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
