<div>
    <h3>Comments</h3>
    <div *ngIf="this.comments.length > 0">
        <div *ngFor="let comment of comments">
            <div *ngIf="editingComments.includes(comment.id!)" class="buttonContainer">
                <button (click)="cancelEdit(comment.id!)">Cancel</button>
                <button (click)="saveComment('edit', comment.id!)">Save</button>
            </div>
            <div *ngIf="!editingComments.includes(comment.id!)" class="buttonContainer">
                <button (click)="editComment(comment.id!)">Edit</button>
            </div>

            <div *ngIf="!editingComments.includes(comment.id!)">
                <p [innerHTML]="parseMarkdown(comment.description!)"></p>
            </div>

            <div *ngIf="editingComments.includes(comment.id!)">
                <textarea [(ngModel)]="editingCommentDescription"></textarea>
            </div>
        </div>
    </div>
</div>

<div class="new-comment">
    <h3>New Comment</h3>
    <textarea *ngIf="!showPreview" [(ngModel)]="newCommentDescription" (input)="previewComment()"></textarea>

    <div *ngIf="showPreview">
        <h4>Preview:</h4>
        <div [innerHTML]="parsedNewComment"></div>
    </div>

    <div class="buttonContainer">
        <button *ngIf="!showPreview" (click)="togglePreview()">Preview</button>
        <button *ngIf="showPreview" (click)="togglePreview()">Back to edit</button>
        <button [disabled]="newCommentDescription.length === 0" (click)="saveComment('new')">Save</button>
    </div>
</div>