<div>
    <h3>Comments:</h3>
    <div *ngIf="comments.length > 0">
        <div *ngFor="let comment of comments" class="comment-container">
            <div class="comment-header">
                <div class="comment-creator">
                    {{ this.getName(comment.creator) }}
                </div>
                <div *ngIf="comment.edited" class="comment-edited">
                    *edited
                </div>
            </div>

            <div *ngIf="this.canEdit(comment.creator)" class="buttonWrapper">
                <div *ngIf="editingComments.includes(comment.id!)" class="buttonContainer">
                    <button (click)="cancelEdit(comment.id!)">Cancel</button>
                    <button (click)="close('edit', comment.id!)">Save</button>
                </div>
                <div *ngIf="!editingComments.includes(comment.id!)" class="buttonContainer">
                    <button (click)="editComment(comment.id!)">Edit</button>
                </div>
                <div *ngIf="!editingComments.includes(comment.id!)" class="buttonContainer">
                    <button (click)="open('delete', comment.id!)">Delete</button>
                </div>
            </div>

            <div *ngIf="!editingComments.includes(comment.id!)">
                <p [innerHTML]="parseMarkdown(comment.description!)"></p>
            </div>

            <div *ngIf="editingComments.includes(comment.id!)">
                <textarea [(ngModel)]="editingCommentDescription" autoResize></textarea>
            </div>
        </div>
    </div>
</div>

<div class="new-comment">
    <h3>New Comment</h3>
    <textarea *ngIf="!showPreview" [(ngModel)]="newCommentDescription" (input)="previewComment()" autoResize></textarea>

    <div *ngIf="showPreview">
        <h4>Preview:</h4>
        <div [innerHTML]="parsedNewComment"></div>
    </div>

    <div class="buttonContainer">
        <button *ngIf="!showPreview" (click)="togglePreview()">Preview</button>
        <button *ngIf="showPreview" (click)="togglePreview()">Back to edit</button>
        <button [disabled]="newCommentDescription.length === 0" (click)="close('new')">Save</button>
    </div>

    <div *ngIf="isDeleteDialogOpened">
        <div class="dialog-overlay"></div>
        <div class="dialog-content">
            <h1>Do you really want to delete this Comment?</h1>
    
            <div class="buttonContainer">
                <button (click)="close('cancel')">Cancel</button>
                <button style="background-color: red;" type="submit" (click)="close('delete')">Delete</button>
            </div>
        </div>
    </div>
</div>
