<app-header></app-header>

<div class="container">
  <div class="sidebar">
    <ul>
      <li><button (click)="this.navigateTo('')" [ngClass]="doesUrlContain('tickets') ? 'active' : ''">Tickets</button></li>
      <li><button (click)="this.navigateTo('discussions')" [ngClass]="doesUrlContain('discussions') ? 'active' : ''">Discussions</button></li>
      <li><button (click)="this.navigateTo('documentations')" [ngClass]="doesUrlContain('documentations') ? 'active' : ''">Documentations</button></li>
      <li><button (click)="this.navigateTo('users')" [ngClass]="doesUrlContain('users') ? 'active' : ''">Users</button></li>
      <li><button (click)="this.navigateTo('settings')" [ngClass]="doesUrlContain('settings') ? 'active' : ''">Settings</button></li>
    </ul>
  </div>
  
  <div class="main-content">
    <div class="dashboard">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<app-footer></app-footer>
