<app-header></app-header>

<div class="container">
  <div class="sidebar">
    <ul>
      <li><a href="#" class="active">Tickets</a></li>
      <li><a href="#">Discussions</a></li>
      <li><a href="#">Documentations</a></li>
      <li><a href="#">Users</a></li>
      <li><a href="#">Settings</a></li>
    </ul>
  </div>
  
  <div class="main-content">
    <div class="dashboard">
      <app-ticket-search *ngIf="this.projectId" [projectId]="this.projectId"></app-ticket-search>
    </div>
  </div>
</div>

<app-footer></app-footer>
