<div class="login-header">
    <div class="back-button-container"> <button class="back-button" (click)="back()">Back</button> </div>
    <div class="title-container"> <p class="title">Login</p> </div>
</div>

<form [formGroup]="this.formGroup" (ngSubmit)="onSubmit()">
    <label [for]="email">
        Email
        <input type="text" formControlName="email" #email>
    </label>
  
    <label [for]="password">
        Password
        <input type="password" formControlName="password" #password>
    </label>

    <button type="submit">Submit</button>
</form>

<app-footer></app-footer>
