<div class="login-header">
    <div class="back-button-container"> <button class="back-button" (click)="back()">Back</button> </div>
    <div class="title-container"> <p class="title">Login</p> </div>
</div>

<form [formGroup]="this.formGroup" (ngSubmit)="onSubmit()">
    <label>Username</label>
    <input type="text" formControlName="userName">
  
    <label>Password</label>
    <input type="password" formControlName="password">

    <button type="submit">Submit</button>
</form>

<app-footer></app-footer>
