<div class="header">
  <div class="nav-buttons">
    <button routerLink="/home" routerLinkActive="active">Home</button>
    <button routerLink="/projects" routerLinkActive="active">Projects</button>
    <button *ngIf="loggedInUser" routerLink="/profile" routerLinkActive="active">Profile</button>
  </div>

  <img class="main-logo" [src]="'../assets/images/logo.jpg'" alt="">

  <div class="user-data">
    <div *ngIf="!loggedInUser">
      <button routerLink="/login" routerLinkActive="active">Login</button>
      <button routerLink="/register" routerLinkActive="active">Register</button>
    </div>

    <div *ngIf="loggedInUser" class="logout">
      <button (click)="logOut()">Log out</button>
    </div>
  </div>
</div>
