<div class="header">
  <img class="main-logo" [src]="" alt="">
  <!-- We need to look for projects, that this user might have! -->
  <!-- We need to help the user set up a project for his github projects -->
  <!-- Add tickets to it, and stuff -->
  <!-- We will need a project page -->
  <!-- Import export from there -->
  <!-- Search bar, header same(?) again -->
  <!-- User can search for own profile -->
  <!-- If he starts a ticket system for a project -> Admin automatically -->
  <!-- He can add new users to it -->
  <!-- He can promote users to admin -->
  <!-- On the left side -> sidebar -> Issues, Discussions, Statistics(!!), etc.  -->
  <!-- Right side -> If we are in a ticket -> Assignee, Creator, due date, etc. -->
  <!-- If we are searching between stuff, tickets, etc., then possibly nothing? TO BE DECIDED -->
  
  <nav>
    <ul>
      <li><span routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</span></li>
      <li><span routerLink="/profile" routerLinkActive="active" ariaCurrentWhenActive="page">Profile</span></li>
      <!-- *ngIf="this.userService.isUserLoggedIn()" -->
    </ul>
  </nav>
  <!-- [length]="getProductLength()" -->
  <div class="inner-search">
    <mat-paginator 
      class="mat-paginator" 
      [pageSize]="5" 
      [pageSizeOptions]="[3, 5, 10]">
    </mat-paginator>
  </div>
  
  <!-- <div class="user-data" *ngIf="this.userService.isUserLoggedIn()">
    <p>{{ this.userService.getUserName() }}</p>
    <p>{{ this.userService.getUserEmail() }}</p>
    <img class="user-profile-picture" [src]="this.userService.getUserProfilePictureUrl()" alt="Profile picture">
  </div> -->
  <!-- *ngIf="!this.userService.isUserLoggedIn()" -->
  <div class="user-data">
    <p><span routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Login</span></p>
    <p><span routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="page">Register</span></p>
  </div>
</div>