<div *ngIf="this.ticket" class="main-container">
  <div class="content-container">
    <h3 class="ticket-title">{{ this.ticket.name }}</h3>
    <span class="ticket-number">Ticket Number: {{ this.ticket.ticketNumber }}</span>

    <div style="margin-top: 1rem; margin-bottom: 1rem;">
      <div *ngIf="this.isEditingDescription" class="buttonContainer">
        <button (click)="toggleEditDescription()">Cancel</button>
        <button (click)="close('description')">Save</button>
      </div>

      <div *ngIf="!this.isEditingDescription" class="buttonContainer">
        <button (click)="toggleEditDescription()">Edit Description</button>
      </div>
    </div>

    <div *ngIf="!isEditingDescription">
      <p class="ticket-info">Description: <span class="ticket-description" [innerHTML]="this.parsedDescription"></span>
      </p>
    </div>

    <div *ngIf="isEditingDescription">
      <textarea style="width: 100%; height: auto;" [(ngModel)]="markdownDescription" autoResize>
      </textarea>
    </div>

    <p class="ticket-info">Ticket References:</p>
    <ul class="ticket-list">
      <li class="ticket-list-item" *ngFor="let reference of this.ticket?.ticketReferences">{{ reference }}</li>
    </ul>

    <app-comment *ngIf="!(this.ticketLoading$ | async) && !(this.usersLoading$ | async)" [parentEntity]="this.ticket"
      [type]="this.getCommentType()" [loggedInUser]="this.loggedInUser" [users]="this.users"></app-comment>
  </div>

  <div class="sidebar" *ngIf="!(this.usersLoading$ | async)">
    <p><strong>Assignee:</strong></p>
    <select [(ngModel)]="this.selectedAssignee" (change)="onUserChange('assignee')">
      <option *ngFor="let user of users" [value]="user.id">
        {{ user.firstName + ' ' + user.lastName }}
      </option>
    </select>
    <p style="margin-top: 1rem;"><strong>Creator:</strong></p>
    <select [(ngModel)]="this.selectedCreator" disabled>
      <option *ngFor="let user of users" [value]="user.id">
        {{ user.firstName + ' ' + user.lastName }}
      </option>
    </select>
    <p style="margin-top: 1rem;"><strong>Statuses:</strong></p>
    <mat-form-field style="margin-top: 0.5rem;">
      <mat-label>Statuses</mat-label>
      <mat-chip-grid #chipGrid aria-label="Select statuses">
        <mat-chip-row [ngStyle]="{'background-color': this.getBackgroundColor(status)}"
          *ngFor="let status of selectedStatuses;" (removed)="remove(status)">
          {{ status.name }}
          <button matChipRemove [attr.aria-label]="'remove ' + status.name">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>
      </mat-chip-grid>
      <input #statusInput name="currentStatus" placeholder="New Status..." [formControl]="statusControls"
        [matChipInputFor]="chipGrid" [matAutocomplete]="auto!" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="add($event)" />
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let status of this.filteredStatuses | async;" [value]="status">{{ status?.name
          }}</mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
</div>