.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 100%;
    margin-top: 40px;
    padding-bottom: 2rem;
}

.content-container {
    flex: 1;
    margin-right: 2rem;
    background-color: #f9f9f9;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.sidebar {
    width: 300px;
    border-left: 2px solid #007bff;
    padding-left: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100% !important;
}

.ticket-container {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.ticket-caption {
    text-align: center;
    font-size: 24px;
}

.ticket-table {
    max-width: 100% !important;
    border: 8px solid;
    border-style: groove;
}

.no-tickets-container {
    display: flex;
    justify-content: center;
}

.no-tickets-text {
    font-size: 25px;
    font-style: italic;
}

.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.dialog-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    max-width: 100% !important;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1001;
    width: 1000px;
}

.dialog-content button {
    margin-top: 10px;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.buttonContainer button {
    width: calc(50% - 5px);
}

.ticket-container table {
    width: 100%;
    border-collapse: collapse;
}

.ticket-container th,
.ticket-container td {
    border: 1px solid #007bff;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}

.ticket-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #007bff;
}

.ticket-info {
    font-size: 16px;
    margin: 5px 0;
    padding-right: 20rem;
}
.ticket-number {
    font-weight: 500;
    color: #333;
    position: absolute;
    top: 2rem; 
    right: 2rem;
    font-size: medium;
}

.ticket-list {
    list-style-type: disc;
    margin: 10px 0 20px 20px;
    padding-left: 20px;
}

.ticket-list-item {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 5px;
}

@media (max-width: 768px) {
    .content-container {
        margin-right: 0;
        padding: 15px;
    }
    
    .ticket-title {
        font-size: 20px;
    }
    
    .ticket-info {
        font-size: 14px;
    }
    
    .ticket-list-item {
        font-size: 13px;
    }
}
